@page "/fetchdata"

<PageTitle>Employees</PageTitle>

@using MTechSytem.Data
@using MTechSytem.Models
@inject EmployeeService EmployeeService;

<h1>Employees</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (_employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>RFC</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in _employees)
            {
                <tr>
                    <td>@emp.ID</td>
                    <td>@emp.Name</td>
                    <td>@emp.LastName</td>
                    <td>@emp.RFC</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Employee> _employees;

    protected override async Task OnInitializedAsync()
    {
        _employees = await EmployeeService.GetEmployees();
    }
}
